<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a target="_blank" href="https://www.linkedin.com/in/muhammad-ibraheem-04468321a">Muhammad Ibraheem </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
